@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --primary: 334 65.3% 80.8%;
  --accent: 212 65.9% 74.7%;
  --font: 0 0% 15%;
  --secondary: 288 74% 77%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  @apply bg-background;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.more:hover .move {
  @apply left-2 text-blue-600;
}

.episode-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
}
